{% extends "base.html" %}

{% block title %}Welcome{% endblock %}
{% block content %}
    <div class="container">
        <div class="rounded-rectangle">
            <h3>Meetings</h3>
            <p>A list of all the meetings you have scheduled.</p>
            <p>Currently there are {{ num_meetings }} meetings.</p>
            <a href="{% url 'meetings' %}" class="link-rectangle">View meetings</a>
        </div>
        <div class="rounded-rectangle"></div>
        <div class="rounded-rectangle"></div>
    </div>
{% endblock %}
