{%extends "base.html"%}

{%block title%} Meeting Details {%endblock%}

{%block content%}
<div class="detail-container">
    <div class="centered-rectangle">
        <h2>{{ meeting.title }}</h1>
        <p>Date: {{ meeting.date }}</p>
        <p>Time: {{ meeting.time }}</p>
        <p>Location: {{meeting.room}}</p>
        <p>Description: {{ meeting.description }}</p>

        <ul>
            {% for participant in meeting.participants.all %}
                <li>{{ participant }}</li>
            {% endfor %}
        </ul>
        
        <div class="text-right">
            <a href="{% url 'edit' meeting.id %}" class="btn btn-light mr-4">Edit</a>
            <a href="{% url 'delete' meeting.id %}" class="btn btn-danger">Delete</a>
        </div>
        </div>
    </div>
</div>
{%endblock%}
